* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DA534E;
}

svg {
  cursor: pointer;
}

.mobile {
  height: 500px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 50px 0;
  font-size: 50px;
}

.element {
  height: 100px;
  width: 200px;
  background-color: #E6E7E7;
  border-radius: 20px;
  margin-bottom: 20px;
}


